* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav {
  margin: 20px 0;
  display: flex;
}
#solutionCount {
  margin-left: 10px;
}
.chessBoardContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
.chessBoard {
  margin-top: 10px;
  width: 80%;
  border: 2px solid brown;
}
.chessBoard .row {
  display: flex;
  height: 70px;
  color: green;
}
.chessBoard .row div {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.chessBoard .row:nth-child(even) div:nth-child(odd) {
  background: black;
}

.chessBoard .row:nth-child(odd) div:nth-child(even) {
  background: black;
}
